.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #000000;
  color: #fff;

}

.flexRowContent--main-header {
  background-color: #0d0d0d;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #212121;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #fff;
  font-size: 14px;
  font-family: "Circular Std Book", sans-serif;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #fff;
  font-size: 14px;
  font-family: "Circular Std Book", sans-serif;
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;

}

.flexRow--bannerPrincipal, .flexRow--ContainerClientes  {
  background-color: #000;
}

.flexRow--ContainerClientes {
  padding-top: 10%;
}
.flexRow--ContainerClientesSobre {
  background-color: #f5f5f5;
}
.flexRow--TextosSobre {
  position: absolute;
  width: 15% !important;
  left: 15%;
  margin-top: 10%;
}
.flexRowContent--TextosSobre {
  width: 80vw;
}
.flexRow--TextosSobre2 {
  position: absolute;
  width: 15% !important;
  left: 15%;
  margin-top: 30%;
}
.flexRowContent--TextosSobre2 {
  width: 53vw;
}